<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Создание и продвижение сайтов</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->




<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<link rel="icon" href="http://siteservice.com.ua/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://siteservice.com.ua/favicon.ico" type="image/x-icon" />

<!--[if lt IE 9]> <link rel="stylesheet" href="/reject/reject.css" media="all" /> <script type="text/javascript" src="/reject/reject.min.js"></script> <![endif]-->
<link rel="stylesheet" href="{% static "css/default.css" %}" />
</head>
<body>
<!-- Классы navbar и navbar-default (базовые классы меню) -->
<nav class="navbar navbar-default" id="header">
  <!-- Контейнер (определяет ширину Navbar) -->
  <div class="container-fluid">
    <!-- Заголовок -->
 
    <div class="navbar-header">
      <!-- Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar) -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Бренд или название сайта (отображается в левой части меню) -->

 <div id="logo">



    
    
         


  
    <a href="http://siteservice.com.ua/" class="button hvr-grow"><img src="{% static "images/siteservice.png" %}" alt="" class="left " /></a>
   <p><span class="visible-lg visible-md">Ваш офис в интернете</span><p>
   
  </div>
  </div>
	
	
    
    <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
    <div class="collapse navbar-collapse" id="navbar-main">
      <!-- Содержимое основной части -->
	    <div class="verh" id="menu">
    <ul>
      <li class="current_page_item verh"><a href="index.html">Главная</a></li>
      <li class="verh"><a href="design.html">Веб-дизайн</a></li>
      <li class="verh"><a href="prodvijenie.html">Продвижение</a></li>
      <li class="verh"><a  href="kontakty.html">Контакты</a></li>
 
    </ul>
  </div>
    </div>
  </div>
</nav>



 




  
 

  
    <div class="post">

      <h1 class="title">Добро пожаловать в студию создания сайтов "Сайт Сервис"</h1>
     
      <div class="entry"> <img src="{% static "images/glavnaya.jpg" %}" alt=""  class="left" />

       <p>Несколько лет назад сайт компании создавался в основном для формирования имиджа, и 
	   без него вполне можно было обойтись. Тогда сайт не являлся серьезным инструментом для бизнеса.</p>

<p>Сегодня ситуация кардинально изменилась. Интернет стал доступным и появился практически в каждом
 доме. Люди значительную часть своего времени проводят on-line в социальных сетях, ищут необходимую 
 информацию, покупают товары и услуги, заказывают билеты, оплачивают счета и т.д. Для многих людей 
 интернет заменил печатные СМИ и телевидение, вследствие чего, роль печатной и телевизионной рекламы 
 теряет позиции. Причем эти процессы идут с нарастающей динамикой.</p>
 <p>Сегодня каждому предпринимателю в не зависимости от вида его бизнеса создание своего сайта приносит ощутимые дивиденды.</p>
<ul>
<li>Сайт повышает ваш имидж, сложно относиться серьезно к компании, у которой нет своего сайта.</li>
<li>Сайт выступает в роли визитной карточки, предоставляя адреса, телефоны, время работы, схему проезда или карту.</li>
<li>Сайт – это круглосуточный виртуальный офис, предоставляющий необходимую клиентам информацию в любое время суток, без выходных, из любой точки земного шара.</li>
<li>Сайт разгрузит работников вашей компании. Вместо телефонных звонков, клиенты будут сами выбирать и заказывать товары или услуги на вашем сайте.</li>
<li>Сайт – это самый недорогой способ рекламы. Стоимость рекламы на вашем сайте гораздо ниже, чем стоимость наружной рекламы или рекламы в средствах массовой информации.</li>
<li>С сайта может рассылаться информация полезная вашим клиентам.</li>
</ul>

<p>Доля клиентов, которые находят компанию через сайт, неуклонно растет. Привлеченные клиенты быстро окупают затраты на сайт. А продвинутый сайт не только помогает в бизнесе, но также может приносить ощутимую прибыль. </p>
      </div>
      
    </div>
    


  
  <div style="clear: both;">&nbsp;</div>

<hr />
<div id="footer">




  <p>&copy; 2016 Сайт Сервис</a>

</p></div>
<!-- на jQuery (необходим для Bootstrap - х JavaScript плагины) -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Включают все скомпилированные плагины (ниже), или включать отдельные файлы по мере необходимости -->  
    <script src="js/bootstrap.min.js"></script>>
	<script>$(document).ready(function(){
  $(".collapse").on('show.bs.collapse', function(){
    $('.verh').addClass('red');
  });
  $(".collapse").on('hide.bs.collapse', function(){
    $('.verh').removeClass('red');
  });
});</script>
</body>
</html>